{% extends "@Template/exception.html.twig" %}
{% block title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block body %}

    <h1>Ooops... <strong>{{ status_code }}</strong><br>{{ status_text }}</h1>
    <p class="lead">Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.</p>
    <a href="mailto:info@typo3.com?subject=Error-Report:%20{{ template.application.name }}&body=Code:%20{{ exception.code }}%0AMessage:%20{{ exception.message }}%0ATime:%20{{ date().timestamp }}" class="btn btn-lg btn-light">
        <span class="btn-icon">
            <i class="fas fa-bug"></i>
        </span>
        <span class="btn-text">
            Send Error-Report
        </span>
    </a>
    <a href="/" class="btn btn-success btn-lg my-2">
        <span class="btn-icon">
            <i class="fas fa-home"></i>
        </span>
        <span class="btn-text">
            Home
        </span>
    </a>

{% endblock %}
