{% extends '@Template/layout.html.twig' %}

{% block sidebar %}
    {% frame %}
        <div class="list-group">
            <a href="{{ path('_template_styleguide_component_accordion') }}" class="list-group-item list-group-item-action">Accordion</a>
            <a href="{{ path('_template_styleguide_component_aggregation') }}" class="list-group-item list-group-item-action">Aggregation</a>
            <a href="{{ path('_template_styleguide_component_alert') }}" class="list-group-item list-group-item-action">Alert</a>
            <a href="{{ path('_template_styleguide_component_badge') }}" class="list-group-item list-group-item-action">Badge</a>
            <a href="{{ path('_template_styleguide_component_button') }}" class="list-group-item list-group-item-action">Button</a>
            <a href="{{ path('_template_styleguide_component_card') }}" class="list-group-item list-group-item-action">Card</a>
            <a href="{{ path('_template_styleguide_component_datatable') }}" class="list-group-item list-group-item-action">DataTable</a>
            <a href="{{ path('_template_styleguide_component_form') }}" class="list-group-item list-group-item-action">Form</a>
            <a href="{{ path('_template_styleguide_component_frame') }}" class="list-group-item list-group-item-action">Frame</a>
            <a href="{{ path('_template_styleguide_component_guide') }}" class="list-group-item list-group-item-action">Guide</a>
            <a href="{{ path('_template_styleguide_component_issue') }}" class="list-group-item list-group-item-action">Issue</a>
            <a href="{{ path('_template_styleguide_component_optionswitch') }}" class="list-group-item list-group-item-action">Optionswitch</a>
            <a href="{{ path('_template_styleguide_component_pricing') }}" class="list-group-item list-group-item-action">Pricing</a>
            <a href="{{ path('_template_styleguide_component_progress') }}" class="list-group-item list-group-item-action">Progress</a>
            <a href="{{ path('_template_styleguide_component_review') }}" class="list-group-item list-group-item-action">Review</a>
            <a href="{{ path('_template_styleguide_component_status') }}" class="list-group-item list-group-item-action">Status</a>
            <a href="{{ path('_template_styleguide_component_text') }}" class="list-group-item list-group-item-action">Text</a>
        </div>
    {% endframe %}
{% endblock %}
