<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - {{ template.application.name }}</title>
    <link rel="shortcut icon" href="{{ asset('bundles/template/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('bundles/template/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/template/webfont.css') }}">
    {% if template.application.assets.encore_entrypoint and template_function_exist('encore_entry_link_tags') %}
        {{ template_function_call('encore_entry_link_tags', template.application.assets.encore_entrypoint) }}
    {% endif %}
    {% block stylesheets %}{% endblock %}
    <script src="https://typo3.azureedge.net/typo3infrastructure/universe/dist/webcomponents-loader.js"></script>
    <script type="module" src="https://typo3.azureedge.net/typo3infrastructure/universe/dist/typo3-universe.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <header class="page-header">
            <typo3-universe{% if template.application.platformkey %} active="{{ template.application.platformkey }}"{% endif %}>
                <!-- Fallback to consume the defined space on loading and no component support -->
                <div style="display: block; height: 44px; background-color: #313131;"></div>
            </typo3-universe>
            <nav class="navbar navbar-mainnavigation navbar-light bg-white navbar-breakpoint-{{ template.application.theme.navbar_breakpoint }}" role="banner">
                <div class="container">
                    <a class="navbar-brand" href="{{ path(template.application.routes.home) }}">
                        {% if template.application.theme.use_logo %}
                            <span class="navbar-brand-image">
                                <img src="{{ asset('bundles/template/images/logo.svg') }}" width="100" height="26" alt="TYPO3 Logo">
                            </span>
                        {% else %}
                            <span class="navbar-brand-text">
                                <i class="fab fa-typo3 text-primary"></i> <strong>{{ template.application.name }}</strong>
                            </span>
                        {% endif %}
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-controls="mainnavigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainnavigation">
                        {{ knp_menu_render('main-default') }}
                        {{ knp_menu_render('main-profile') }}
                    </div>
                </div>
            </nav>
        </header>

        {# flash messages on this page are NOT escaped !#}
        {% if app.request.hasPreviousSession %}
            {% for key, flashMassages in app.session.flashBag.all %}
                <div class="alert-pagegroup">
                    {% block flashMessages %}
                        {% for flashMassage in flashMassages %}
                            <div class="alert alert-{{ key }} alert-dismissible fade show" role="alert">
                                <div class="alert-inner">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ flashMassage | raw }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            {% endfor %}
        {% endif %}

        <main class="page-main">
            {% if block('headline') is defined %}
                {% frame with { color: 'primary', size: 'small'} %}
                    <h1 class="h2">{{ block('headline')|raw }}</h1>
                {% endframe %}
            {% endif %}
            {% block body %}{% endblock %}
        </main>

        <footer class="page-footer">
            {% block footer %}{% endblock %}
            {% frame with { color: 'dark' } %}
                <ul class="page-footer-social">
                    <li>
                        <a href="https://www.facebook.com/typo3" title="Follow us on Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/typo3" title="Follow us on Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com/typo3" title="Follow us on YouTube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <div class="page-footer-meta">
                    <div class="page-footer-copyright">
                        <span>© {{ "now"|date("Y") }} <a href="{{ template.application.copyright.url }}" target="_blank">{{ template.application.copyright.author }}</a>.</span>
                    </div>
                    <div class="page-footer-menu">
                        {{ knp_menu_render('main-footer') }}
                    </div>
                </div>
            {% endframe %}
        </footer>
    </div>

    <script src="{{ asset('bundles/template/app.js') }}"></script>
    {% if template.application.assets.encore_entrypoint and template_function_exist('encore_entry_script_tags') %}
        {{ template_function_call('encore_entry_script_tags', template.application.assets.encore_entrypoint) }}
    {% endif %}
    {% block javascripts %}{% endblock %}

</body>
</html>
