<div{% if id %} id="{{ id }}"{% endif %} class="{{ classesOuter }}">
    {% if backgroundImage %}
        <div class="frame-backgroundimage-container">
            <div class="frame-backgroundimage frame-backgroundimage-fade" style="background-image: url({{ backgroundImage }});"></div>
        </div>
    {% endif %}
    <div class="frame-container">
        <div class="{{ classesInner }}">
            {{ content|raw }}
        </div>
    </div>
</div>
